<div [ngClass]="mobilePortrait?'mobile':'desktop'">
  <div class="glossar-article-content" [ngClass]="articleOpen?'open':'closed'">
    <div class="title-and-nav">
      <h1>{{ glossarEntry.title }}</h1>
      <figure [ngClass]="articleOpen ? 'nav-arrow-open' : 'nav-arrow-closed'" (click)="articleOpen = !articleOpen"></figure>
    </div>
    <div *ngIf="articleOpen" class="glossar-content">
      <article>
        <h2 class="h1-p">{{glossarEntry.subtitle1}}</h2>
        <p>{{ glossarEntry.text1 }}</p>
      </article>
      <div *ngIf="!mobilePortrait">
        <div class="image-article-container left-picture">
          <div class="glossar-article-image">
            <div class="image-container">
              <figure class="article-image">
              </figure>
              <figure class="faderstart"></figure>
              <figure *ngIf="!mobilePortrait" class="faderend"></figure>
            </div>
          </div>
          <article class="picture-article-article">
            <h2 class="h1-h2">{{glossarEntry.subtitle2}}</h2>
            <p>{{glossarEntry.text2}}</p>
          </article>
        </div>
        <div class="image-article-container right-picture">
          <article class="picture-article-article">
            <h2 class="h1-h2">{{glossarEntry.subtitle3}}</h2>
            <p>{{glossarEntry.text3}}</p>
          </article>
          <div class="glossar-article-image">
            <div class="image-container">
              <figure class="article-image"></figure>
              <figure class="faderstart"></figure>
              <figure *ngIf="!mobilePortrait" class="faderend"></figure>
            </div>
          </div>
        </div>
      </div>
      <article *ngIf="mobilePortrait">
        <div class="image-holder">
          <figure class="mobile-portrait-image"></figure>
          <figure class="fader"></figure>
        </div>
        <h2 class="h1-p">{{glossarEntry.subtitle2}}</h2>
        <p>{{ glossarEntry.text2 }}</p>
      </article>
      <article *ngIf="mobilePortrait">
        <div class="image-holder">
          <figure class="mobile-portrait-image"></figure>
          <figure class="fader"></figure>
        </div>
        <h2 class="h1-p">{{glossarEntry.subtitle3}}</h2>
        <p>{{ glossarEntry.text3 }}</p>
      </article>

      <figure class="nav-close" (click)="articleOpen = false"></figure>
    </div>
  </div>
</div>

