<section *ngIf="ctaOn" id="footer-cta" [ngClass]="{'mobile-section':mobilePortrait}">
  <h1 class="h1-p">Kontaktiere mich</h1>
  <p class="p-content">Habe ich dein Interesse geweckt, hast du Anregungen, Fragen oder benötigst Hilfe, hab keine Scheu, mich zu kontaktieren. Ich beiße nicht!</p>
  <div class="button-holder">
    <!-- app button styles need to be set in button.component.scss -->
    <app-button *ngIf="!mobilePortrait" [mobilePortrait]="mobilePortrait" [buttonDesign]="'primary wide'" buttonTitle="Kontaktformular" routerLink="/Kontakt"></app-button>
    <app-button [buttonDesign]="'secondary wide'" [mobilePortrait]="mobilePortrait" [withContext]="true" buttonTitle="Kontakt"></app-button>
  </div>
</section>
<section id="fNews" class="footer-news" *ngIf="news[0]!=null" [ngClass]="{'mobile-section':mobilePortrait}" [ngStyle]="{'background-image': 'url(' + news[0].pictureUrl + ')'}">
  <div class="news-holder">
    <figure [ngClass]="activeNews !=0 ? 'nav-arrow-left' : 'nav-arrow-left-disabled'" (click)="changeNews(-1)"></figure>
    <article class="fade"  *ngFor="let newsEntry of news; let i = index" [ngClass]="activeNews === i?'visible-article' : 'invisible-article'">
      <div class="footer-container">
        <h2 class="h1-p">{{ newsEntry.title }}</h2>
        <p *ngIf="newsEntry.date!==''" class="bold"> {{ newsEntry.date }}</p>
        <p> {{ newsEntry.text }}</p>
      </div>
      
    </article>
    <figure [ngClass]="activeNews != news.length-1 ? 'nav-arrow-right' : 'nav-arrow-right-disabled'" (click)="changeNews(1)"></figure>
  </div>
</section>
<section class="footer-credentials" [ngClass]="{'mobile-section':mobilePortrait}">
  <figure class="footer-bg-red"></figure>
  <figure class="footer-bg-redfade"></figure>
  <figure class="footer-fade"></figure>
  <div id="footer-container">
    <div class="footer-content">
      <figure routerLink="" routerLinkActive="active" class="footer-entry">
        <img src="../../../assets/icons/sallys_logo.svg" alt="sallys tiertraining logo">
      </figure>
      <div class="footer-entry">
        <h4>Direktlinks</h4>
        <div class="directlinks">
          <ul>
            <li routerLink="/Hundegruppentraining" (click)="ctaOn = true">Hundetraining (Gruppe)</li>
            <li routerLink="/Hundeeinzeltraining" (click)="ctaOn = true">Hundetraining (einzeln)</li>
            <li routerLink="/Reitunterricht" (click)="ctaOn = true">Reitunterricht</li>
            <li routerLink="/DasBinIch" (click)="ctaOn = true">Das bin ich</li>
          </ul>
          <ul>
            <li routerLink="/Galerie" (click)="ctaOn = true">Galerie</li>
            <!-- <li routerLink="/Glossar" (click)="ctaOn = true">Glossar</li> -->
            <li routerLink="/Kontakt" (click)="ctaOn = false">Kontakt</li>
            <li routerLink="/Impressum" (click)="ctaOn = false">Impressum</li>
            <!-- <li routerLink="/PartnerUndSponsoren" (click)="ctaOn = true">Partner</li> -->
            <li routerLink="/Qualifikationen" (click)="ctaOn = true">Qualifikationen</li>

          </ul>
        </div>
      </div>
      <div class="footer-entry">
        <h4>Kontaktiere mich!</h4>
        <div class="contact">
          <div class="contact-entry">
            <figure class="contact-icon">
              <img src="../../../assets/interaction/call_24px_red.svg" alt="Sally anrufen">
            </figure>
            <p>0174 97 89 210</p>
          </div>
          <div class="contact-entry">
            <figure class="contact-icon">
              <img src="../../../assets/interaction/email_24px_red.svg" alt="Sally mailen">
            </figure>
            <p>info@sallys-tiertraining.de</p>
          </div>
        </div>
        <div class="social">
          <figure class="social-icons">
            <a href="https://www.tiktok.com/@sallys_tiertraining"><img src="../../../assets/icons/tiktok.png" alt="Sally's Tiktok"></a>
          </figure>
          <figure class="social-icons">
            <a href="https://www.instagram.com/sallystiertraining/"><img src="../../../assets/icons/insta.svg" alt="Sally's Instagram"></a>
          </figure>
          <figure class="social-icons">
            <a href="https://www.facebook.com/people/Sallys-Tiertraining/pfbid0F2wkUo3mEM8aJJtev13V53tHaeyvvoDSNY5QmcgYNcWKW8yeEx27qf8KPhmTAuBLl/"><img src="../../../assets/icons/fb.png" alt="Sally's Facebook"></a>
          </figure>
          <figure class="social-icons">
            <a href="https://www.youtube.com/@sallys-tiertraining"><img src="../../../assets/icons/yt.svg" alt="Sally's Youtube"></a>
          </figure>
          <figure class="social-icons">
            <a href="https://wa.me/491749789210"><img src="../../../assets/icons/whatsapp.svg" alt="Sally's Whatsapp"></a>
          </figure>
        </div>
      </div>
    </div>
    <div class="credentials">
      <a href="">© Sally's <span>Tiertraining</span> 2023</a>
      <a href="">sedra<span>neo</span>.</a>
    </div>
    <div id="footer-qualification">
      <div class="qualification-container">
        <figure class="qualification">
          <a href="https://www.instagram.com/hsv_klein_wanzleben/"><img src="../../../assets/icons/hundesportvereinKleinWanzleben.jpg" alt="Hundesportverein Klein Wanzleben"></a>
        </figure>
        <figure class="qualification">
          <a href="https://de-de.facebook.com/pauvidiscdogs/"><img src="../../../assets/icons/pauvi.png" alt="PauVi DiscDogs"></a>
        </figure>
        <figure class="qualification" routerLink="/PartnerUndSponsoren"  [queryParams]='{article: "schlubeck"}'>
          <a href="https://reiterhof-schlubeck.de/"><img src="../../../assets/icons/schlubeck.png" alt="Reiterhof Schlubeck"></a>
        </figure>
        <figure class="qualification">
          <a href=""><img src="../../../assets/icons/esi.png" alt="Förderung durch den ESI-Fonds in Sachsen-Anhalt"></a>
        </figure>
      </div>
    </div>
  </div>

</section>

