.mobile-section h1{
  font-size: 2rem;
}
.mobile-section p, .mobile-section li, .mobile-section a{
  font-size: 0.88rem;
}
.mobile-section li, .mobile-section a{
  font-size: 0.75rem;
}
.mobile-section h2{
  font-size: 2.5rem;
}
.mobile-section h4{
  font-size: 1.5rem;
}
.mobile-section .h1-p{
  margin-bottom: 0.9rem;
}
.mobile-section .p-content{
  margin-bottom: 1.5rem;
}
.button-holder
{
  display: flex;
  justify-content: center;
}

.footer-news
{
  //background-image: url();
  background-size: 100%;
  background-position: top;
}
.mobile-section
{
  background-size: cover;
  background-repeat: no-repeat;
}
.news-holder
{
  padding: 2.5rem 0.625rem;
  background-color: #f5fbffc4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-holder article
{
  width: 77.22vw;
  height: auto;
}

.visible-article{
  display: block;
}
.invisible-article{
  display: none;
}
.footer-credentials
{
  width: 100vw;
  height: 20vh;
  padding: 0;
  margin-top: -6vw;
}

.footer-bg-red{
  background-image: url(../../assets/backgrounds/red_bottom.svg);
  background-size: 105vw;
  background-position: top;
  position: absolute;
  width: 105vw;
  height: 100%;
  top: -0.30vw;
  left: -0.15vw;
  z-index: 1;
}
.mobile-section .footer-bg-red
{
  top: -1vw;
}
.footer-bg-redfade{
  background-image: url(../../assets/backgrounds/red60_bottom.svg);
  background-size: 105vw;
  background-position: top;
  position: absolute;
  top: 0px;
  left: -1vw;
  width: 105vw;
  height: 100%;
  z-index: 2;
}
.footer-fade{
  background: linear-gradient(180deg, var(--red60), white);
  position: absolute;
  top: 7vw;
  left: -1vw;
  width: 105vw;
  height: 100%;
  z-index: 3;
}

#footer-container
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 7.5vw 8.33vw 0;
}

.footer-content
{
  display: flex;
  justify-content: space-between;
}
.mobile-section .footer-content{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-entry
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 27vw;
  min-height: 205px;
}

.mobile-section .footer-entry{
  width: 83.34vw;
  min-height: 100px;
  margin-bottom: 6.25vh;
}
figure.footer-entry
{
  justify-content: center;
}

.footer-entry img
{
  width: 80%;
  height: auto;
}

.directlinks
{
  display: flex;
  justify-content: space-evenly;
}

.mobile-section .directlinks{
  justify-content: space-between;
}

.directlinks ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
  padding-left: 0;
  font-family: "ubuntu";
  font-size: 1rem;
  color: black;
}
.mobile-section .directlinks ul{
  font-size: 0.75rem;
}

.directlinks ul:nth-of-type(2){
  align-items: flex-start;
}
.directlinks ul li{
  margin: 0.3rem 0.6rem;
}
.contact
{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.mobile-section .contact{
  flex-direction: column;
  justify-content: center;
}
.contact-entry
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  font-size: 1rem;
}
.contact-icon
{ display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}
.social
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons
{
  margin-top: 0.3rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credentials
{
  margin-top: 5.56vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "ubuntu";
  font-size: 0.81rem;
}
.mobile-section .credentials{
  width: 83.34vw;
  font-size: 0.75rem;
}
.credentials a, .directlinks li, .contact p
{
  font-family: "ubuntu-bolder";
  font-size: 0.81rem;
  color: black;
}
.mobile-section .credentials a, .mobile-section .directlinks li, .mobile-section .contact p{
  font-size: 0.75rem;
}
.credentials a:hover, .directlinks li:hover, .contact p:hover
{
  color: var(--red100);
}

.credentials a span
{
  font-family: "ubuntu-bolder";
  font-size: 0.81rem;
  color: var(--red100);
}
.mobile-section .credentials a span
{
  font-size: 0.75rem;
}

#footer-qualification
{
  margin-top: 2.2vw;
  padding: 0 8.33vw;
}

.qualification-container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qualification
{
  margin: 0.63rem 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
}
.mobile-section .qualification
{
  height: 60px;
  width: 60px;
}
.qualification img
{
  max-height: 120px;
  max-width: 120px;
}
.mobile-section .qualification img
{
  max-height: 60px;
  max-width: 60px;
}

.qualification-large
{
  background-color: #f5fbffe7;
  border: 1px solid var(--red100);
  margin: 0.63rem 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
  width: 20vw;
}
.mobile-section .qualification-large {
  height: 50vw;
  width: 50vw;
}
.qualification-large img
{
  max-height: 19vw;
  max-width: 19vw;
}
.mobile-section
.qualification-large img
{
  max-height: 49vw;
  max-width: 49vw;
}
app-button
{
  z-index: 50;
}
