<section id="footer-cta" [ngClass]="{'mobile-section':mobilePortrait}">
  <h1 class="h1-p">Kontaktiere mich</h1>
  <p class="p-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
  <div class="button-holder">
    <app-button *ngIf="!mobilePortrait" [primary]="true" buttonTitle="Kontaktformular"></app-button>
    <app-button [primary]="false" [withContext]="true" buttonTitle="Kontakt"></app-button>
  </div>
</section>
<section class="footer-news" *ngIf="newsAvailable" [ngClass]="{'mobile-section':mobilePortrait}">
  <div class="news-holder">
    <figure [ngClass]="actualNews.index !=0 ? 'nav-arrow-left' : 'nav-arrow-left-disabled'"></figure>
    <article>
      <h2 class="h1-p">{{ actualNews.title }}</h2>
      <p> {{ actualNews.text }}</p>
    </article>
    <figure [ngClass]="actualNews.index != lastNews ? 'nav-arrow-right' : 'nav-arrow-right-disabled'"></figure>
  </div>
</section>
<section class="footer-credentials" [ngClass]="{'mobile-section':mobilePortrait}">
  <figure class="footer-bg-red"></figure>
  <figure class="footer-bg-redfade"></figure>
  <figure class="footer-fade"></figure>
  <div id="footer-container">
    <div class="footer-content">
      <figure routerLink="" routerLinkActive="active" class="footer-entry">
        <img src="../../../assets/icons/sallys_logo.svg" alt="sallys tiertraining logo">
      </figure>
      <div class="footer-entry">
        <h4>Direktlinks</h4>
        <div class="directlinks">
          <ul>
            <li routerLink="/Hundegruppentraining" routerLinkActive="active">Hundetraining (Gruppe)</li>
            <li routerLink="/Hundeeinzeltraining" routerLinkActive="active">Hundetraining (einzeln)</li>
            <li routerLink="/Reitunterricht" routerLinkActive="active">Reitunterricht</li>
            <li routerLink="/DasBinIch" routerLinkActive="active">Das bin ich</li>
          </ul>
          <ul>
            <li routerLink="/Galerie" routerLinkActive="active">Galerie</li>
            <li routerLink="/Glossar" routerLinkActive="active">Glossar</li>
            <li routerLink="/Impressum" routerLinkActive="active">Impressum & AGB</li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="footer-entry">
        <h4>Kontaktiere mich!</h4>
        <div class="contact">
          <div class="contact-entry">
            <figure class="contact-icon">
              <img src="../../../assets/interaction/call_24px_red.svg" alt="Sally anrufen">
            </figure>
            <p>0174 97 89 210</p>
          </div>
          <div class="contact-entry">
            <figure class="contact-icon">
              <img src="../../../assets/interaction/email_24px_red.svg" alt="Sally mailen">
            </figure>
            <p>info@sallys-tiertraining.de</p>
          </div>
        </div>
        <div class="social">
          <figure class="social-icons">
            <img src="../../../assets/icons/tiktok.png" alt="Sally's Tiktok">
          </figure>
          <figure class="social-icons">
            <img src="../../../assets/icons/insta.svg" alt="Sally's Instagram">
          </figure>
          <figure class="social-icons">
            <img src="../../../assets/icons/fb.png" alt="Sally's Facebook">
          </figure>
          <figure class="social-icons">
            <img src="../../../assets/icons/yt.svg" alt="Sally's Youtube">
          </figure>
          <figure class="social-icons">
            <img src="../../../assets/icons/whatsapp.svg" alt="Sally's Whatsapp">
          </figure>
        </div>
      </div>
    </div>
    <div class="credentials">
      <a href="">© Sally's <span>Tiertraining</span> 2023</a>
      <a href="">sedra<span>neo</span>.</a>
    </div>
    <div id="footer-qualification">
      <div class="qualification-container">
        <figure *ngIf="!dosbOpen" class="qualification" (click)="dosbOpen = !dosbOpen" >
          <img src="../../../assets/icons/dosb.png" alt="DOSB">
        </figure>
        <figure *ngIf="dosbOpen" class="qualification-large" (click)="dosbOpen = !dosbOpen">
          <img src="../../../assets/qualis/dosb.jpg" alt="Lizenz des DOSB">
        </figure>

        <figure *ngIf="!zeugnisOpen"class="qualification" (click)="zeugnisOpen = !zeugnisOpen">
          <img src="../../../assets/icons/sa.svg" alt="Sachsen-Anhalt">
        </figure>
        <figure *ngIf="zeugnisOpen"class="qualification-large" (click)="zeugnisOpen = !zeugnisOpen">
          <img src="../../../assets/qualis/zeugnis.jpg" alt="Zeugnis im Land Sachsen-Anhalt">
        </figure>
      </div>
    </div>
  </div>

</section>

