<div  class="outer-frame" [ngClass]="{'mobile-frame':mobilePortrait}" (mouseover)="borderOn = true" (mouseleave)="borderOn = false">
  <figure [ngClass]="articleOpen ? 'outer-frame-open' : ''" class="outer-frame-background"></figure>
  <div class="frame-content">
    <div  *ngIf="!articleOpen" [ngClass]="borderOn ? 'withBorder' : 'withoutBorder'" class="inner-frame-title" (click)="openArticle()">
      <h1 [ngStyle]="{'color': borderOn ? 'var(--red100)' : 'white'}">{{ frame.title }}</h1>
    </div>
    <div *ngIf="articleOpen" class="inner-frame">
      <figure class="nav-close" (click)="openArticle()"></figure>
      <article>
        <div class="article-content">
          <h1 *ngIf="!mobilePortrait">{{ frame.title }}</h1>
          <h2>{{ frame.claim }}</h2>
          <p *ngIf="!mobilePortrait">{{ frame.text }}</p>
          <p *ngIf="mobilePortrait">{{ frame.textMobile}}</p>
        </div>
        <a (click)="getContent()">Mehr erfahren</a>
      </article>
    </div>
  </div>
</div>

