.outer-frame
{
  position: relative;
  width: 48.61vw;
  height: 32.43vw;
  box-shadow: 2px 2px 6px 0 rgba(90, 92, 93, 0.37);
}

.frame-content
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.625rem;
}

.outer-frame-background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-image: url(../../../assets/backgrounds/frame-pictures/einzel3.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.outer-frame:hover
{
  box-shadow: 0.14vw 0.14vw 0.42vw 0 #a9585581;
}

.outer-frame-open
{
  filter: blur(0.2rem);
}
.inner-frame
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  background-color: #f5fbffe7;
  border: 1px solid var(--red100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-frame-title
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.withBorder
{
  border: 1px solid var(--red100);
  color: var(--red100);
  animation-name: border-fadeIn;
  animation-duration: 1.5s;
}
.withoutBorder
{
  color: white;
  border: 1px solid #ffffff00;
  animation-name: border-fadeOut;
  animation-duration: 1.5s;
}

.nav-close
{
  align-self: flex-end;
}
article
{
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.centered-article-content
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-content h3
{
  margin: 1rem 0 0.5rem;
}

article a
{
  font-family: "ubuntu-bolder";
  color: black;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
article a:hover
{
  color: var(--red100);
}

//Mobile Responsiveness
.mobile-frame
{
  width: 83.34vw;
  height: 55.6vw;
  margin-bottom: 0.9rem;
}
.mobile-frame .frame-content
{
  padding: 0.3rem;
}
.mobile-frame .inner-frame
{
  padding: 0.3rem;
}
.mobile-frame article{
  padding: 0.3rem;
}
.mobile-frame h1
{
  font-size: 2.5rem;
}
.mobile-frame h3
{
  margin: 0 0 0.3rem;
  font-size: 2rem;
}
.mobile-frame p
{
  font-size: 0.88rem;
}
.mobile-frame a
{
  font-size: 1rem;
}

@keyframes border-fadeIn {
  from {
    border: 1px solid #ffffff00;
    color: white;

  }
  to {
    border: 1px solid var(--red100);
    color: var(--red100);
  }
}


@keyframes border-fadeOut {
  from {
    border: 1px solid var(--red100);
    color: var(--red100);
  }
  to {
    border: 1px solid #ffffff00;
    color: white;
  }
}
