<app-hero-section [mobilePortrait]="mobilePortrait" [hero]="hero"></app-hero-section>
<app-trainings [mobilePortrait]="mobilePortrait" [framesAvailable] = "false" [introductionArticles]="introductionArticles"></app-trainings>
<section>
  <h2 class="h1-p">Hast du dich für ein Einzeltraining entschieden?</h2>
  <p class="h1-p">Damit wir das Bestmögliche aus deinem Training herausholen können, benötige ich eine Einschätzung deines Vierbeiners. Hierzu kannst du dir den folgenden Anamnesebogen herunterladen. Deine Antworten kannst du mir am Besten bereits vor dem ersten Termin zuschicken.</p>
  <a href="../../assets/downloads/Anamnesebogen.docx"
   download>
    Anamnesebogen
  </a>
</section>
