.image-article-container
{
  position: relative;
  width: 100vw;
  height: 32.43vw;
  margin: 40px 0 80px 0;
}

.image-article-container .article-image
{
  position: absolute;
  top:0;
  width: 50vw;
  height: 32.43vw;
  background-image: url(../../../assets/pictures/5.jpg);
  background-size: 100%;
  background-position: center;
}

.left-image-article-container .article-image
{
  left:0;
}
.right-image-article-container .article-image
{
  right:0;
}


.image-article-container .faderstart
{
  position: absolute;
  top: 0;
  width: 24vw;
  height: 32.43vw;
}
.left-image-article-container .faderstart
{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), white);
  right: 49.11vw;
}
.right-image-article-container .faderstart
{
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), white);
  left: 49.11vw;
}



.image-article-container .faderend
{
  position: absolute;
  top: 0;
}
.left-image-article-container .faderend
{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), white);
  right: 41.11vw;
}
.right-image-article-container .faderend
{
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), white);
  left: 41.11vw;
}


.image-article-container .article-content
{
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 41.67vw;
  height: 32.43vw;
}


.left-image-article-container .article-content
{
  right: 8.33vw;
}
.right-image-article-container .article-content
{
  left: 8.33vw;
}

.image-article-container .picture-article-article
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.image-article-container a
{
  margin-top: 2.5rem;
  font-family: 'ubuntu-bolder';
}
.image-article-container a:hover
{
  color:var(--red100)
}

.extended-content
{
  margin: 1.39vw 8.33vw;
  padding: 2.5rem;
  background-color: #f5fbffe7;
  border: 1px solid var(--red100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extended-content figure
{
  align-self: flex-end;
}

.extended-content h2, .extended-content p
{
  margin-bottom: 2.5rem;
}

//Mobile Responsiveness
.mobile-article
{
  height: auto;
  min-height: 245px;
  margin: 6.25vh 0 0;
  display: flex;
  flex-direction: column;
}
.mobile-article h2
{
  font-size: 2.5rem;
}
.mobile-article .h1-p
{
  margin-bottom: 0.9rem;
}

.mobile-article p, .mobile-article a
{
  font-size: 0.88rem;
}
.mobile-article .image-content {
  position: relative;
  width: 100vw;
  height: 68.06vw;
  min-height: 245px;
}

.mobile-article .image-content .article-image{
  width: 100vw;
  height: 68.06vw;
  min-height: 245px;
}

.mobile-article .fader
{
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), white);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
}
.mobile-article .article-content
{
  position: relative;
  margin: 0 8.33vw;
  width: 83.34vw;
  height: auto;
}
.mobile-article .picture-article-article
{
  align-items: center;
  text-align: center;
}
.mobile-extended-content
{
  padding: 0.75rem;
}
.mobile-extended-content h2
{
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.mobile-extended-content p
{
  font-size: 0.88rem;
  margin-bottom: 1rem;
}
