<div *ngIf="!mobilePortrait">
  <div class="image-article-container" [ngClass]="leftPicture ? 'left-image-article-container': 'right-image-article-container'">
    <figure class="article-image">
    </figure>
    <figure class="faderstart"></figure>
    <figure class="faderend"></figure>
    <div class="article-content">
      <article class="picture-article-article">
        <h2 class="h1-p">{{ article.title }}</h2>
        <p>{{ article.text }}</p>
        <a *ngIf="extendedContentAvailable && !extendedContentOpen" (click)="extendedContentOpen = true">Mehr erfahren</a>
      </article>
    </div>
  </div>
</div>

<div *ngIf="mobilePortrait">
  <div class="image-article-container mobile-article">
    <div class="image-content">
      <figure class="article-image">
      </figure>
      <figure class="fader"></figure>
    </div>

    <div class="article-content">
      <article class="picture-article-article">
        <h2 class="h1-p">{{ article.title }}</h2>
        <p>{{ article.text }}</p>
        <a *ngIf="extendedContentAvailable && !extendedContentOpen" (click)="extendedContentOpen = true">Mehr erfahren</a>
      </article>
    </div>
  </div>
</div>

<div *ngIf="extendedContentOpen" class="extended-content" [ngClass]="{'mobile-extended-content':mobilePortrait}">
  <article *ngFor="let item of extend">
    <h2 *ngIf='item.title != ""'>{{ item.title }}</h2>
    <p>
      {{ item.text }}
    </p>
  </article>
  <figure class="nav-close" (click)="extendedContentOpen = false"></figure>
</div>
