<div *ngIf="!mobilePortrait" class="hero-container">
  <figure class="hero-image">
  </figure>
  <figure class="fader"></figure>
  <div class="hero-content">
    <article id="hero-article">
      <h1 class="h1-h2">Hi, ich bin Sally.</h1>
      <h2 class="h1-p">Willkommen auf meiner Seite</h2>
      <p class="p-content">Viel Spaß beim Stöbern auf meiner Seite. Wenn du Fragen oder Anregungen hast, schreib mir gerne eine Mail, nutze auch gerne mein Kontaktformular oder Social Media.</p>
      <app-button buttonTitle="Mehr über mich" [primary]="false" linkSrc = "landing" routerLink = "/DasBinIch"></app-button>
    </article>
  </div>
</div>

<div *ngIf="mobilePortrait" class="mobile-hero-container">
  <div class="mobile-hero-image-container">
    <figure class="hero-image">
    </figure>
    <figure class="fader"></figure>
  </div>
  <article class="hero-article">
    <h1 class="h1-h2">Hi, ich bin Sally.</h1>
    <h2 class="h1-p">Willkommen auf meiner Seite</h2>
    <p class="p-content">Viel Spaß beim Stöbern auf meiner Seite. Wenn du Fragen oder Anregungen hast, schreib mir gerne eine Mail, nutze auch gerne mein Kontaktformular oder Social Media.</p>
    <app-button [mobilePortrait]="mobilePortrait" buttonTitle="Mehr über mich" [primary]="false" routerLink = "/DasBinIch"></app-button>
  </article>
</div>
