.hero-container
{
  position: relative;
  padding-top: 2vw;
  width: 100vw;
  height: 100vh;
}
#hero-image
{
  width: 63.89vw;
  height: 100%;
  background-image: url(../../../assets/pictures/5.jpg);
  background-size: 100%;
  background-position: center;
}
#fader1
{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), white);
  position: absolute;
  right: 36.11vw;
  top: 0;
  width: 24vw;
  height: 100%;
}
.hero-content
{
  display: flex;
  align-items: center;
  position: absolute;
  right: 8.33vw;
  top: 0;
  width: 41.67vw;
  height: 100%;
}

#hero-article
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#hero-article
{
  text-align: left;
}
app-button
{
  align-self: flex-end;
}
