<app-hero-section [mobilePortrait]="mobilePortrait" [hero]="hero"></app-hero-section>
<app-trainings [mobilePortrait]="mobilePortrait" [framesAvailable] = "false" [introductionArticles]="introductionArticles"></app-trainings>

<div class="map-container">
    <a href="https://maps.app.goo.gl/AsD1F8oFr3f14M849" target="_blank" class="hover-red map-link">
        <div>
            <p>Klickt hier für die Kartenansicht auf Google Maps</p>
            <img src="assets/icons/map-color.png" alt="Kartenicon">
        </div>
    </a>
</div>
