<app-hero-section></app-hero-section>

<div class="picture-frame-container">
  <app-picture-frame [articleOpen]="articlesOpen[0]" (articleOpenChange)="closeOthers(0, $event)"></app-picture-frame>
  <app-picture-frame [articleOpen]="articlesOpen[1]" (articleOpenChange)="closeOthers(1, $event)"></app-picture-frame>
</div>
<div *ngIf="articlesOpen[0] || articlesOpen[1]" class="picture-frame-description-content">
  <div class="slider-and-nav">
    <figure class="nav-arrow-left" (click)="onClick('left')">
    </figure>

    <div class="slider-wrapper">
        <figure *ngFor="let picture of chosenContent; let i = index" [ngClass]="activeFrame===i?'slideVisible':'slideHidden'" [ngStyle]="{'background-image': 'url('+ chosenContent[i] +')'}">
        </figure>
    </div>

    <figure class="nav-arrow-right" (click)="onClick('right')">
    </figure>
  </div>
  <div class="dots">
    <figure *ngFor="let dot of chosenContent; let i = index" class="dot" [ngClass]="activeFrame===i?'active':'inactive'" (click)="currentSlide(i)"></figure>
  </div>
  <figure class="nav-close" (click)="closeContents(0,1)"></figure>
</div>
<div class="picture-frame-container">
  <app-picture-frame [articleOpen]="articlesOpen[2]" (articleOpenChange)="closeOthers(2, $event)"></app-picture-frame>
  <app-picture-frame [articleOpen]="articlesOpen[3]" (articleOpenChange)="closeOthers(3, $event)"></app-picture-frame>
</div>
<div *ngIf="articlesOpen[2] || articlesOpen[3]" class="picture-frame-description-content">
  <div class="slider-and-nav">
    <figure class="nav-arrow-left" (click)="onClick('left')">
    </figure>

    <div class="slider-wrapper">
        <figure *ngFor="let picture of chosenContent; let i = index" [ngClass]="activeFrame===i?'slideVisible':'slideHidden'" [ngStyle]="{'background-image': 'url('+ chosenContent[i] +')'}">
        </figure>
    </div>

    <figure class="nav-arrow-right" (click)="onClick('right')">
    </figure>
  </div>
  <div class="dots">
    <figure *ngFor="let dot of chosenContent; let i = index" class="dot" [ngClass]="activeFrame===i?'active':'inactive'" (click)="currentSlide(i)"></figure>
  </div>
  <figure class="nav-close" (click)="closeContents(0,1)"></figure>
</div>
