.picture-frame-container
{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1.39vw 0;
}
.slider-and-nav
{
  width: 100%;
  height: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper
{
  margin: 0 0.2rem;
  height: 40.49vw;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}
.slider-wrapper figure
{
  height: 40.49vw;
  width: 100%;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.slideVisible
{
  display: block;
}
.slideHidden
{
  display: none;
}

.dots
{
  width: 77.22vw;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot
{
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: #a958553a;
  margin: 0 0.2rem;
  padding: .1rem;
}

.inactive
{
  width: 1rem;
  animation-name: dot-fade-out;
  animation-duration: 1s;
}
.inactive:hover
{
  background-color: #a958559d;
}
.active
{
  background-color: var(--red100);
  width: 2rem;
  animation-name: dot-fade;
  animation-duration: 1s;
}

.picture-frame-description-content
{
  margin: 1.39vw 8.33vw;
  padding: 2.5rem;
  background-color: #f5fbffe7;
  border: 1px solid var(--red100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-frame-description-content .nav-close
{
  align-self: flex-end;
}

.picture-frame-description-content h2, .picture-frame-description-content p
{
  margin-bottom: 2.5rem;
}

//Mobile Responsiveness
.mobile-picture-frames{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-picture-frames .frames-and-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-picture-frames .picture-frame-description-content
{
  display: block;
  position: relative;
  width: 83.34vw;
  padding: 0;
  margin: 0 0 6.25vh;
}
.mobile-picture-frames .dots
{
  position: absolute;
  left: 0;
  bottom: 1.88rem;
  height: 1rem;
}
.mobile-picture-frames .active
{
  animation-name: dot-fade-mobile;
  animation-duration: 1s;

}
.mobile-picture-frames .inactive
{
  animation-name: dot-fade-out-mobile;
  animation-duration: 1s;
  background-color: #a9585580;
}
.mobile-picture-frames .slider-wrapper
{
  margin: 0;
  width: 100%;
  height: auto;
}
.mobile-picture-frames .slide
{
  background-size: cover;
  width: 100%;
  height: 110.84vw;
}
.landscape
{
  height: 62.5vw;
}
.mobile-picture-frames .nav-close{
  position: absolute;
  right:0.88rem;
  bottom: 0.88rem;
}


@keyframes dot-fade {
  from {
    width: 1rem;
    background-color: #a958553a;
  }
  to {
    width: 2rem;
    background-color: var(--red100);
  }
}

@keyframes dot-fade-out {
  from {
    width: 2rem;
    background-color: var(--red100);
  }
  to {
    width: 1rem;
    background-color: #a958553a;
  }
}

@keyframes dot-fade-mobile {
  from {
    width: 1rem;
    background-color: #a9585580;

  }
  to {
    width: 2rem;
    background-color: var(--red100);
  }
}

@keyframes dot-fade-out-mobile {
  from {
    width: 2rem;
    background-color: var(--red100);
  }
  to {
    width: 1rem;
    background-color: #a9585580;
  }
}
