.picture-frame-container
{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1.39vw 0;
}
.slider-and-nav
{
  width: 100%;
  height: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper
{
  margin: 0 0.2rem;
  height: 40.49vw;
  width: 77.22vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}
.slider-wrapper figure
{
  height: 40.49vw;
  width: 77.22vw;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.slideVisible
{
  display: block;
}
.slideHidden
{
  display: none;
}

.dots
{
  width: 77.22vw;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot
{
  height: 1rem;
  background-size: 100%;
  margin: 0 0.2rem;
}
.inactive
{
  width: 1rem;
  background-image: url(../../assets/interaction/dot_16px_red20.svg);
}
.inactive:hover
{
  background-image: url(../../assets/interaction/dot_16px_red.svg);
}
.active
{
  width: 2rem;
  background-image: url(../../assets/interaction/dot_16px_red_active.svg);
}

.picture-frame-description-content
{
  margin: 1.39vw 8.33vw;
  padding: 2.5rem;
  background-color: #f5fbffe7;
  border: 1px solid var(--red100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-frame-description-content .nav-close
{
  align-self: flex-end;
}

.picture-frame-description-content h2, .picture-frame-description-content p
{
  margin-bottom: 2.5rem;
}

//Mobile Responsiveness
.mobile-picture-frames{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-picture-frames .frames-and-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-picture-frames .picture-frame-description-content
{
  display: block;
  position: relative;
  width: 83.34vw;
  padding: 0;
  margin: 0 0 6.25vh;
}
.mobile-picture-frames .dots
{
  position: absolute;
  left: 0;
  bottom: 1.88rem;
  height: 0.75rem;
}
.mobile-picture-frames .dot
{
  height: 0.7rem;
}
.mobile-picture-frames .inactive
{
  width: 0.7rem;
}
.mobile-picture-frames .active
{
  width: 1.4rem;
}
.mobile-picture-frames .slider-wrapper
{
  margin: 0;
  width: 100%;
  height: auto;
}
.mobile-picture-frames .slide
{
  background-size: cover;
  width: 100%;
  height: 110.84vw;
}
.landscape
{
  height: 62.5vw;
}
.mobile-picture-frames .nav-close{
  position: absolute;
  right:0.88rem;
  bottom: 0.88rem;
}
