section
{
  text-align: left;
}
section h1
{
  text-align: left;
}
section h1
{
  margin-bottom: 2rem;
}
section article p
{
  margin: 1rem 0 2rem;
}

.mobile-section
{
  text-align: justify;
}
.mobile-section h1
{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.mobile-section h2
{
  font-size: 2.5rem;
}
.mobile-section p
{
  font-size: 0.88rem;
  margin: 0.5rem 0 1rem;
}
