<app-hero-section [mobilePortrait]="mobilePortrait" [hero]="hero"></app-hero-section>
<div class="content-container">
    <h3>Wer?</h3>
    <p>
        Für alle Reiterinnen und Reiter ab E-Niveau, die den Schritt, Trab und Galopp sicher
        beherrschen und Lust haben, etwas Neues auszuprobieren. Ich biete ein angepasstes
        Training zur Förderung der weiteren Entwicklung.
        Ziel ist es die reiterlichen Fähigkeiten und die Gymnastizierung des Pferdes durch
        Stangenarbeit zu verbessern. Der Lehrgang ist auf maximal 2 Teilnehmer in einer
        Gruppe begrenzt. Es wird pro Tag eine Einheit geritten (nach Bedarf auch beide Einheiten an einem Tag).
    </p>
    <h3>Was?</h3>
    <p>
        Der Lehrgang beginnt mit einfacher Stangenarbeit und wird mit jeder Unterrichtseinheit
        anspruchsvoller. Von Monat zu Monat. Auf die Stangenarbeit und die dazugehörige
        Sitzschulung des Reiters folgt die Arbeit über Cavalettis. Somit bietet der Lehrgang den
        perfekten Einstieg in das Springreiten und bietet eine Vorbereitung für die weitere
        Entwicklung im Springsport. Der Lehrgang ist auch geeignet für Dressurpferde, um
        Abwechslung in den Trainingsplan zu bringen, den Rücken zu gymnastizieren und das
        Abfußen zu verbessern (Muskulatur, Aufbau, Rhythmus etc.). Die Flexibilität des Reiters
        wird ebenfalls gefördert und führt zu einem besseren Verständnis zwischen Reiter und
        Pferd.
    </p>
    <h3>Kosten und Anmeldung</h3>
    <p>
        Die Kosten belaufen sich auf 50€, für externe Pferde fallen zzgl. 10 Euro Hallengebühr
        an. Gastboxen stehen nach Absprache begrenzt zur Verfügung (15 Euro pro Tag). Die
        jeweiligen Kosten sind bis 7 Tage vor Lehrgangstart zu zahlen. Bei der Anmeldung
        müssen folgende Daten angegeben werden: Namen, Alter und Leistungsstand (jeweils
        von Reiter und Pferd).
        Sobald die Anmeldung erfolgt ist, gilt diese als verbindlich. In Ausnahmefällen kann nach
        Absprache ein Ersatzteilnehmer gestellt werden, falls eine eigene Teilnahme nicht
        möglich ist.
    </p>
</div>

