<app-hero-section [mobilePortrait]="mobilePortrait" [hero]="hero"></app-hero-section>
<div class="content-container">
    <p>
        Der Pferdeführerschein Umgang sowie die Reitabzeichen 4, 5, 6 und 7 (RA 4/5/6/7) sind
wesentliche Bausteine der Reitausbildung. Sie richten sich an Reiter*innen, die ihre
Kenntnisse im Umgang mit dem Pferd und ihre reiterlichen Fähigkeiten vertiefen und
oLiziell nachweisen möchten. </p>

    <h3>
        Lehrgangstermine und Prüfung
    </h3>
    <ul>
        <li>
            Lehrgangsphase 1: 13.10.2025 bis 15.10.2025 - 16 bis 21 Uhr
        </li>
        <li>
            Lehrgangsphase 2: 20.10.2025 bis 22.10.2025 - 16 bis 21 Uhr
        </li>
        <li>
            Prüfungstermin: 23.10.2025
        </li>
    </ul>
    <p>
        Bei Bedarf kann auch eine frühere Uhrzeit für den Lehrgang gemeinsam vereinbart werden.
    </p>
    <h3>
        Pferdeführerschein Umgang
    </h3>
    <p>
        Der Pferdeführerschein Umgang ersetzt den früheren Basispass Pferdekunde. Er ist
        häufig Voraussetzung für weiterführende Abzeichen und vermittelt grundlegende
        Kenntnisse im Umgang mit dem Pferd.
    </p>
    <ul>
        <li>
            <span class="bold">Zielgruppe: </span>Alle, die mit Pferden arbeiten oder reiten möchten; oft Voraussetzung
für RA 7 und höher.
        </li>
        <li>
            <span class="bold">Lehrgang: </span>Vermittelt werden Umgang, Führen, Anbinden, Pferdepflege, Verladen,
            Tierschutz und Sicherheit im Stall.
        </li>
        <li>
            <span class="bold">Prüfung: </span>Praktische Demonstrationen und theoretische Fragen zu
            Pferdeverhalten, Fütterung, Haltung und Unfallverhütung.
        </li>
    </ul>

    <h3>
        Reitabzeichen 7 & 6
    </h3>
    <p>
        Diese Abzeichen sind für Einsteiger*innen und fortgeschrittene Anfänger*innen gedacht.
Sie bauen aufeinander auf und vermitteln die Grundlagen des Reitens.
    </p>
    <ul>
        <li>
            <span class="bold">RA 7: </span>Grundlagen in den Grundgangarten (Schritt, Trab, Galopp), korrektes
            Führen und einfache Theorie.
        </li>
        <li>
            <span class="bold">RA 6: </span>Vertiefung der Basiskenntnisse, Sitz und Einwirkung im Sattel, Leichttraben,
            Zügel aus der Hand kauen lassen, einfache Bahnfiguren, Grundwissen zu
            Pferdegesundheit und Pflege.
        </li>
        <li>
            <span class="bold">Lehrgang: </span>Praktischer Reitunterricht kombiniert mit Theorieeinheiten zu
            Pferdehaltung und Sicherheit.
        </li>
        <li>
            <span class="bold">Prüfung: </span>Praktische Übungen im Reiten und im Umgang, dazu eine
            Theorieprüfung.
        </li>
    </ul>

    <h3>
        Reitabzeichen 5
    </h3>
    <p>
        Das RA 5 ist der nächste Schritt und für fortgeschrittene Reiter*innen gedacht, die
bereits RA 6 absolviert haben. Es qualifiziert zum Start in LPO Turnierprüfungen der Klasse A.
    </p>
    <ul>
        <li>
            <span class="bold">Voraussetzung: </span>Bestandener Pferdeführerschein Umgang und Reitabzeichen 6.
        </li>
        <li>
            <span class="bold">Lehrgang: </span>Dressur- und Springreiten auf E-Niveau, korrekte Hilfengebung, Arbeit
            im leichten Sitz, Einführung ins Geländereiten, vertiefte Theorie zu Pferdekunde
            und Tierschutz.
        </li>
        <li>
            <span class="bold">Prüfung: </span>Dressuraufgabe, Springen über kleine Hindernisse, Geländereiten,
            theoretische Fragen zu allen Themenbereichen.
    </ul>
    <h3>
        Reitabzeichen 4
    </h3>
    <p>
        Das Reitabzeichen 4 (RA 4) ist der nächste Schritt nach dem Reitabzeichen 5 und richtet
sich an fortgeschrittene Reiter*innen, die ihre Fähigkeiten weiter vertiefen möchten. Es qualifiziert zum Start in LPO Turnierprüfungen der Klasse L.
    </p>
    <ul>
        <li>
            <span class="bold">Voraussetzung: </span>Bestandenes Reitabzeichen 5.
        </li>
        <li>
            <span class="bold">Lehrgang: </span>fortgeschrittene Dressur- und Springübungen,
            korrekte Hilfengebung, Arbeit im leichten Sitz, Einführung ins Geländereiten sowie
            vertiefte Theorie zu Pferdekunde und Tierschutz 1.
        </li>
        <li>
            <span class="bold">Prüfung: </span>Die Prüfung besteht aus einer Dressuraufgabe, dem Springen über kleine
            Hindernisse, und theoretischen Fragen zu allen Themenbereichen 2.
    </ul>

    <h3>
        Kosten
    </h3>
    <ul>
        <li>
            Pferdeführerschein Umgang: 220 Euro zzgl. Prüfung
        </li>
        <li>
            Ra6 und Ra7: 315 Euro zzgl. Prüfung
        </li>
        <li>
            Ra5 und Ra4: 340 Euro zzgl. Prüfung
        </li>
    </ul>
    <p>
        Für externe Pferde fallen zzgl. 10 Euro Hallengebühr an. Gastboxen stehen nach Absprache
        begrenzt zur Verfügung (15 Euro pro Tag). Die jeweiligen Kosten sind bis 7 Tage vor
        Lehrgangstart zu zahlen. Bei der Anmeldung müssen folgende Daten angegeben
        werden: Namen, Alter und Leistungsstand (jeweils von Reiter und Pferd).
    </p>
    <p>
        Sobald die Anmeldung erfolgt ist, gilt diese als verbindlich. In Ausnahmefällen kann
        nach Absprache ein Ersatzteilnehmer gestellt werden, falls eine eigene Teilnahme nicht
        möglich ist.
    </p>
</div>