.picture-frame-container
{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1.39vw 0;
}
.picture-frame-description-content
{
  margin: 1.39vw 8.33vw;
  padding: 2.5rem;
  background-color: #f5fbffe7;
  border: 1px solid var(--red100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-frame-description-content figure
{
  align-self: flex-end;
}

.picture-frame-description-content h2, .picture-frame-description-content p
{
  margin-bottom: 2.5rem;
}

//Mobile Responsiveness
.mobile-section
{
  padding-bottom: 0.9rem;
}

.mobile-section h1
{
  font-size: 2rem;
}

.mobile-section .h1-p
{
  margin-bottom: 0.9rem;
}
.mobile-section p
{
  font-size: 0.88rem;
  margin-bottom: 0.3rem;
}
.mobile-picture-frames
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frames-and-content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frames-and-content .picture-frame-description-content{
  padding: 0.75rem;
}
.frames-and-content article{
  padding: 0;
  margin: 0;
}
.frames-and-content h2
{
  font-size: 2.5rem;
  margin-bottom: 0.45rem;
}
.frames-and-content p
{
  font-size: 0.88rem;
  margin-bottom: 0.9rem;
}
