.picture-frame-container
{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1.39vw 5vw;
}


//Mobile Responsiveness
.mobile-section
{
  padding-bottom: 0.9rem;
}

.mobile-section h1
{
  font-size: 2rem;
  line-height: 2rem;
}

.mobile-section .h1-p
{
  margin-bottom: 0.9rem;
}
.mobile-section p
{
  font-size: 0.88rem;
  margin-bottom: 0.3rem;
  line-height: 1.17rem;
}
.mobile-picture-frames
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frames-and-content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frames-and-content .picture-frame-description-content{
  padding: 0.75rem;
}
.frames-and-content article{
  padding: 0;
  margin: 0;
}
.frames-and-content h2
{
  font-size: 2.5rem;
  margin-bottom: 0.45rem;
  line-height: 2rem;
}
.frames-and-content p
{
  font-size: 0.88rem;
  margin-bottom: 0.9rem;
  line-height: 1.17rem;
}

.prices
{
  display: flex;
  flex-direction: column;
}
.prices h2, .prices p{
  margin-bottom: 1rem;
}
.prices>p{
  font-family: "Ubuntu-italic";
  font-size: 0.8rem;
}
.price-entries
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-picture-frames .price-entries
{
  flex-direction: column;
}
.price-entry
{
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

