<app-picture-article *ngIf='introductionArticles.length > 0 && introductionArticles[0].id !="dummy"'
  [article]="introductionArticles[0]" [mobilePortrait]="mobilePortrait" [leftPicture]="true"
  [fadeOn]="fadeOn"></app-picture-article>
<app-picture-article *ngIf="introductionArticles.length > 1" [article]="introductionArticles[1]"
  [mobilePortrait]="mobilePortrait" [leftPicture]="false" [fadeOn]="fadeOn"></app-picture-article>
<app-picture-article *ngIf="introductionArticles.length > 2" [article]="introductionArticles[2]"
  [mobilePortrait]="mobilePortrait" [leftPicture]="true" [fadeOn]="fadeOn"></app-picture-article>
<app-picture-article *ngIf="introductionArticles.length > 3" [article]="introductionArticles[3]"
  [mobilePortrait]="mobilePortrait" [leftPicture]="false" [fadeOn]="fadeOn"></app-picture-article>
<app-picture-article *ngIf="introductionArticles.length > 4" [article]="introductionArticles[4]"
  [mobilePortrait]="mobilePortrait" [leftPicture]="true" [fadeOn]="fadeOn"></app-picture-article>
<app-picture-article *ngIf="introductionArticles.length > 5" [article]="introductionArticles[5]"
  [mobilePortrait]="mobilePortrait" [leftPicture]="false" [fadeOn]="fadeOn"></app-picture-article>


<div *ngIf="framesAvailable" class="all-picture-frames">

  <div *ngIf="!mobilePortrait" class="desktop-picture-frames" >
    <!--We use frameArticlesLoop to iterate over frameArticles in pairs-->
    <div *ngFor="let index of frameArticlesLoop">
      <div class="picture-frame-container" >
        <app-picture-frame [id]="'app-picture-frame' + index" [(contentOpen)]="contentsOpen[index]" [articleOpen]="articlesOpen==index"
          (articleOpenChange)="closeOthers(index, $event)" (contentOpenChange)="chosenContent=frameArticles[index].expand" [article]="frameArticles[index]"></app-picture-frame>
        <app-picture-frame [id]="'app-picture-frame' + (index + 1)" *ngIf="frameArticles[index+1] != undefined" [(contentOpen)]="contentsOpen[index+1]" [articleOpen]="articlesOpen==index+1"
          (articleOpenChange)="closeOthers(index+1, $event)" (contentOpenChange)="chosenContent=frameArticles[index+1].expand" [article]="frameArticles[index+1]"></app-picture-frame>
      </div>
      <div *ngIf="contentsOpen[index] || contentsOpen[index+1]" class="picture-frame-description-content article-fade">
        <article *ngFor="let article of chosenContent" class="picture-frame-article">
          <h2 *ngIf='article.title !=""'>{{ article.title }}</h2>
          <p>{{ article.text }}</p>
            <ul class="" *ngIf="article.bulletPoints">
              <li *ngFor="let bulletPoint of article.bulletPoints">{{ bulletPoint }}</li>
            </ul>
          
          <div class="prices" *ngIf='article.price || article.price6 || article.price10 || article.horse4'>
            <h2>Meine Preise</h2>
            <div class="price-entries">
              <div *ngIf='article.price !="" && article.price != null' class="price-entry">
                <p><b>Eine Stunde</b></p>
                <p>{{ article.price}}</p>
              </div>
              <div *ngIf='article.price6 !="" && article.price6 != null' class="price-entry">
                <p><b>6er-Karte</b></p>
                <p>{{ article.price6}}</p>
              </div>
              <div *ngIf='article.price10 !="" && article.price10 != null' class="price-entry">
                <p><b>10er-Karte</b></p>
                <p>{{ article.price10}}</p>
              </div>
              <div *ngIf='article.horse4 !="" && article.horse4 != null' class="price-entry">
                <p><b>Vier Stunden und mehr</b></p>
                <p>{{ article.horse4}}</p>
              </div>
            </div>
            <p *ngIf="!group">zzgl. Fahrtkosten: außerhalb Eimersleben bis 10 km 5 Euro, ab 10 km zzgl. 0,45 Cent je
              Kilometer</p>
          </div>
        </article>
        <figure class="nav-close" (click)="closeContents(index,index+1)"></figure>
      </div>
    </div>
  </div>
  
  <!--
  <div *ngIf="!mobilePortrait" class="desktop-picture-frames">
    <div class="picture-frame-container">
      <app-picture-frame [(contentOpen)]="contentsOpen[0]" [articleOpen]="articlesOpen==0"
        (articleOpenChange)="closeOthers(0, $event)" (contentOpenChange)="chosenContent=frameArticles[0].expand" [article]="frameArticles[0]"></app-picture-frame>
      <app-picture-frame [(contentOpen)]="contentsOpen[1]" [articleOpen]="articlesOpen==1"
        (articleOpenChange)="closeOthers(1, $event)" (contentOpenChange)="chosenContent=frameArticles[1].expand" [article]="frameArticles[1]"></app-picture-frame>
    </div>
    <div *ngIf="contentsOpen[0] || contentsOpen[1]" class="picture-frame-description-content article-fade">
      <article *ngFor="let article of chosenContent" class="picture-frame-article">
        <h2 *ngIf='article.title !=""'>{{ article.title }}</h2>
        <p>{{ article.text }}</p>
        <div class="prices" *ngIf='article.price !="" && article.price != null'>
          <h2>Meine Preise</h2>
          <div class="price-entries">
            <div class="price-entry">
              <p><b>Eine Stunde</b></p>
              <p>{{ article.price}}</p>
            </div>
            <div *ngIf='article.price6 !="" && article.price6 != null' class="price-entry">
              <p><b>6er-Karte</b></p>
              <p>{{ article.price6}}</p>
            </div>
            <div *ngIf='article.price10 !="" && article.price10 != null' class="price-entry">
              <p><b>10er-Karte</b></p>
              <p>{{ article.price10}}</p>
            </div>
            <div *ngIf='article.horse4 !="" && article.horse4 != null' class="price-entry">
              <p><b>Vier Stunden und mehr</b></p>
              <p>{{ article.horse4}}</p>
            </div>
          </div>
          <p *ngIf="!group">zzgl. Fahrtkosten: außerhalb Eimersleben bis 10 km 5 Euro, ab 10 km zzgl. 0,45 Cent je
            Kilometer</p>
        </div>
      </article>
      <figure class="nav-close" (click)="closeContents(0,1)"></figure>
    </div>

    <div *ngIf="frameArticles.length > 2" class="picture-frame-container">
      <app-picture-frame [(contentOpen)]="contentsOpen[2]" [articleOpen]="articlesOpen==2"
        (articleOpenChange)="closeOthers(2, $event)" [article]="frameArticles[2]" (contentOpenChange)="chosenContent=frameArticles[2].expand"></app-picture-frame>
      <app-picture-frame *ngIf="frameArticles.length > 3" [(contentOpen)]="contentsOpen[3]"
        [articleOpen]="articlesOpen==3" (articleOpenChange)="closeOthers(3, $event)" (contentOpenChange)="chosenContent=frameArticles[3].expand"
        [article]="frameArticles[3]"></app-picture-frame>
    </div>
    <div *ngIf="contentsOpen[2] || contentsOpen[3]" class="picture-frame-description-content article-fade">
      <article *ngFor="let article of chosenContent" class="picture-frame-article">
        <h2 *ngIf='article.title !=""'>{{ article.title }}</h2>
        <p *ngIf="article.text != ''">{{ article.text }}</p>
        <ul *ngIf="article.bulletPoints">
          <li *ngFor="let bulletPoint of article.bulletPoints">{{ bulletPoint }}</li>
        </ul>
        <div class="prices" *ngIf='article.price !="" && article.price != null'>
          <h2>Meine Preise</h2>
          <div class="price-entries">
            <div *ngIf="article.id != 'special'">
              <div class="price-entry">
                <p><b>Eine Stunde</b></p>
                <p>{{ article.price}}</p>
              </div>
              <div *ngIf='article.price6 !="" && article.price6 != null' class="price-entry">
                <p><b>6er-Karte</b></p>
                <p>{{ article.price6}}</p>
              </div>
              <div *ngIf='article.price10 !="" && article.price10 != null' class="price-entry">
                <p><b>10er-Karte</b></p>
                <p>{{ article.price10}}</p>
              </div>
              <div *ngIf='article.horse4 !="" && article.horse4 != null' class="price-entry">
                <p><b>Vier Stunden und mehr</b></p>
                <p>{{ article.horse4}}</p>
              </div>
            </div>
            <div *ngIf="article.id == 'special'">
              <div class="price-entry">
                <p><b>Beide Kurse als Paket</b></p>
                <p>{{ article.price}}</p>
              </div>
              <!-- <div  *ngIf='article.price6 !="" && article.price6 != null' class="price-entry">
                <p><b>Kurs 2 und 3 (jeweils)</b></p><p>{{ article.price6}}</p>
              </div>
              <div  *ngIf='article.price10 !="" && article.price10 != null' class="price-entry">
                <p><b>Alle Kurse als Paket</b></p><p>{{ article.price10}}</p>
              </div> -->
              <!--
            </div>
          </div>

          <p *ngIf="!group">zzgl. Fahrtkosten: außerhalb Eimersleben bis 10 km 5 Euro, ab 10 km zzgl. 0,45 Cent je
            Kilometer</p>
        </div>
      </article>
      <figure class="nav-close" (click)="closeContents(2,3)"></figure>
    </div>
  </div>
-->
 
  <div *ngIf="mobilePortrait" class="mobile-picture-frames">
    <div *ngFor="let content of frameArticles; let i = index" class="mobile-frames-and-content">
      <app-picture-frame [mobilePortrait]="mobilePortrait" [(contentOpen)]="contentsOpen[i]"
        [articleOpen]="articlesOpen==i" (articleOpenChange)="closeOthers(i, $event)"
        [article]="frameArticles[i]"></app-picture-frame>
      <div *ngIf="contentsOpen[i]" class="picture-frame-description-content article-fade">
        <article *ngFor="let article of chosenContent" class="picture-frame-article">
          <h2 *ngIf='article.title !=""'>{{ article.title }}</h2>
          <p *ngIf="article.text">{{ article.text }}</p>
          <ul *ngIf="article.bulletPoints" class="mobile-bullet-points">
            <li *ngFor="let bulletPoint of article.bulletPoints">{{ bulletPoint }}</li>
          </ul>
          <div class="prices" *ngIf='article.price !="" && article.price != null'>
            <h2>Meine Preise</h2>
            <div class="price-entries">
              <div *ngIf="article.id != 'special'">
                <div class="price-entry">
                  <p><b>Eine Stunde</b></p>
                  <p>{{ article.price}}</p>
                </div>
                <div *ngIf='article.price6 !="" && article.price6 != null' class="price-entry">
                  <p><b>6er-Karte</b></p>
                  <p>{{ article.price6}}</p>
                </div>
                <div *ngIf='article.price10 !="" && article.price10 != null' class="price-entry">
                  <p><b>10er-Karte</b></p>
                  <p>{{ article.price10}}</p>
                </div>
                <div *ngIf='article.horse4 !="" && article.horse4 != null' class="price-entry">
                  <p><b>ab der 4. Reitstunde</b></p>
                  <p>{{ article.horse4}}</p>
                </div>
              </div>
              <div *ngIf="article.id == 'special'">
                <div class="price-entry">
                  <p><b>Beide Kurse als Paket</b></p>
                  <p>{{ article.price }}</p>
                </div>
                <!-- <div  *ngIf='article.price6 !="" && article.price6 != null' class="price-entry">
                  <p><b>Kurs 2 und 3 (jeweils)</b></p><p>{{ article.price6}}</p>
                </div>
                <div  *ngIf='article.price10 !="" && article.price10 != null' class="price-entry">
                  <p><b>Alle Kurse als Paket</b></p><p>{{ article.price10}}</p>
                </div> -->
              </div>

            </div>
            <p *ngIf="!group">zzgl. Fahrtkosten: außerhalb Eimersleben bis 10 km 5 Euro, ab 10 km zzgl. 0,45 Cent je
              Kilometer</p>
          </div>
        </article>
        <figure class="nav-close" (click)="closeContents(0,1)"></figure>
      </div>
    </div>

  </div>
</div>