<div class="card" [ngClass]="{'mobile-card': mobilePortrait}">
  <figure [ngStyle]="{'background-image': 'url(' + cardContent.pictureUrl +')'}"></figure>
  <article>
    <div class="content">
      <h3 class="h1-h2">{{ cardContent.title }}</h3>
      <p [class.bold]="cardContent.link==''">{{ cardContent.text }}</p>
      <!--only display the second text OR the link below because of space and layout constraints-->
      <p *ngIf="cardContent.link==''&& cardContent.text2!==''">{{cardContent.text2}}</p>
    </div>
    <a id="card-nav" [routerLink]="cardContent.link" [queryParams]="cardContent.query" *ngIf="cardContent.link!==''">mehr erfahren</a>
  </article>
</div>
