.content-container {
    width: 80vw;
    max-width: 700px;
    margin: auto;
    text-align: left;
}
.content-container p {
    margin-bottom: 30px;
}
.bold {
    font-weight: 600;
}
.bigger {
    font-size: 1.2rem;
}