<app-hero-section [mobilePortrait]="mobilePortrait" [hero]="hero"></app-hero-section>
<div class="content-container">
    <p>
        Willkommen sind Reiter und Pferde aller Alters- und Leistungsklassen, ab sicherem Grundniveau.
Egal ob Dressur / Freizeit oder Springen, es wird individuell angepasst. </p>
<p>
Das Ziel ist Spaß zu haben, dabei Englisch zu lernen, der Austausch von Erfahrungen, die gemeinsame
Begeisterung und im Training mit dem Pferd die gestellten Aufgaben zu meistern.<br/>
Die Reiter werden anhand des Leistungsstandes in Gruppen mit maximal Drei Teilnehmern eingeteilt.
    </p>
    <h3>
        Warum bei mir?
    </h3>
    <p>
        Ich komme aus Schottland und Englisch ist meine Muttersprache!
Ich bin qualiOizierte und erfahrene Trainerin mit A-Lizenz und bin bereit dich durch jeden Schritt des
Lehrgangs zu führen.
Meine Expertise reicht von der Auswahl der richtigen Aufgabe, bis zur Feinabstimmung deiner
Sitzposition und Technik.
 </p>  
 <p>
Jedes Pferd-Reiter-Gespann ist einzigartig, und der Unterricht wird entsprechend angepasst, um die
besten Lernerfolge zu erzielen.
Bist du bereit die Faszination der Sprache und des Reitens gemeinsam zu entdecken und deine Fähigkeiten
zu perfektionieren?
Dann melde dich noch heute für einen Platz in meinen Unterrichtseinheiten an. </p>
<p>
Anmeldungen bitte per E-Mail/WhatsApp <br>
Boxen nach Absprache verfügbar.
    </p>
    <p class="bold bigger">
        Kosten pro Trainingseinheit: 20 Euro
    </p>
    <p class="bold">
        ! Erst nach der Bezahlung gilt die Anmeldung als verbindlich getätigt !
    </p>
</div>