.navbar{
  position: absolute;
  width: 100vw;
  z-index: 3;
  top: 0px;
  left: 0px;
  padding: 7px 40px 7px 8.33vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-bg-red{
  background-image: url(./assets/backgrounds/red_top.svg);
  background-size: 105vw;
  background-position: bottom;
  position: absolute;
  width: 105vw;
  height: 7.57vw;
  max-height: 165px;
  top: 0px;
  left: -1vw;
  z-index: 1;
}

.mobile-nav .nav-bg-red
{
  background-image: url(./assets/backgrounds/red_top_mobile.svg);
  height: 35.39vw;
  max-height: 360px;
}

.nav-bg-grey{
  background-image: url(./assets/backgrounds/grey_top.svg);
  background-size: 105vw;
  background-position: bottom;
  position: absolute;
  width: 105vw;
  height: 7.57vw;
  max-height: 165px;
  top: -0.30vw;
  left: -0.15vw;
  z-index: 2;
}

.mobile-nav .nav-bg-grey
{
  background-image: url(./assets/backgrounds/grey_top_mobile.svg);
  height: 35.39vw;
  max-height: 360px;
  top: -0.8vw;
}

.nav-entry
{
  padding: 5px;
  margin-top: 2vw;
  width: 16vw;
  height: auto;
  min-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffffff00;
}

.mobile-nav .nav-entry{
  margin-top: 0;
  width: 40vw;
  align-items: flex-end;
  border: 1px solid #ffffff00;

}

.nav-entry ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
  font-family: "worstveld";
  font-size: 1.5rem;
}
.nav-entry-top{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 24px;
}
.nav-entry-base
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 24px;
}
.mobile-nav .nav-entry-top{
  justify-content: flex-start;
  //justify-content: flex-end;
}

.nav-entry a:hover{
  color: var(--red100);
  animation-name: nav-hover-fade;
  animation-duration: 0.5s;
}

.nav-logo{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5vw;
  height: 6.94vw;
  max-width: 223px;
  max-height: 120px;
  cursor: pointer;
}

.mobile-nav .nav-logo
{
  justify-content: flex-start;
  width: 28.8vw;
  height: 16.51vw;
}
.nav-logo img{
  width: 11.11vw;
  height: 120px;
  max-width: 220px;
}

.mobile-nav .nav-logo img
{
  width: 28.8vw;
  height: 16.51vw;
}

.nav-sub-menu-bg{
  background-color: #f5fbffe7;
  border: 1px solid var(--red100);
  animation-name: open-fade;
  animation-duration: 0.25s;

}
.close{
  background-color: #ffffff00;
    border: 2px solid #ffffff00;
  animation-name: close-fade;
  animation-duration: 0.5s;
}

@keyframes open-fade {
  from {
    background-color: #ffffff00;
    border: 2px solid #ffffff00;
  }
  to {
    background-color: #f5fbffe7;
    border: 1px solid var(--red100);
  }
}
@keyframes close-fade {
  from {
    background-color: #f5fbffe7;
    border: 1px solid var(--red100);
  }
  to {
    background-color: #ffffff00;
    border: 2px solid #ffffff00;
  }
}

#hamburger
{
  margin-top: 5.5vw;
}
.hamburger-menu
{
  width: 24px;
  height: 24px;
}
.default-hamburger
{
  background-image: url(./assets/interaction/hamburger_menu_24px_red.svg);
}
.open-hamburger
{
  background-image: url(./assets/interaction/close_24px_red.svg);
}
.hamburger-menu figure{
  width: 1rem;
  height: 1rem;
}
.mobile-a{
  margin: 0.31rem 0;
}
.entry-only .mobile-a
{
  margin-right: 1.3rem;
}
.mobile-nav-group li{
  margin: 0.1rem 1.3rem 0.1rem 0.25rem;
  font-family: "worstveld";
  font-size: 1.2rem;
}
.active
{
  // using important to override the hover behavior
  color: var(--red100) !important; 
  border-bottom: 2px solid var(--red100) !important;
  animation-name: nav-fade;
  animation-duration: 0.5s;
}
.mobile-nav .active
{
  border-bottom: 1px solid var(--red100);
}

@keyframes nav-fade {
  from {
    color: black;
    border-bottom: 2px solid #ffffff00;
  }
  to {
    color: var(--red100);
    border-bottom: 2px solid var(--red100);
  }
}

@keyframes nav-hover-fade {
  from {
    color: black;
  }
  to {
    color: var(--red100);
  }
}

.nav-entry ul, .nav-entry li{
  width: 100%;
}
.nav-entry li:hover{
  color: var(--red100);
  text-decoration-line: underline;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  animation-name: nav-hover-fade;
  animation-duration: 0.5s;
}
