  /*overriding styles.scss*/
  section {
    padding-bottom: 0;
}

.gallery-container {
    margin: 0 auto;
    width: 80vw;
    border-top: 1px solid #444;
    padding-top: 2rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column for small screens */
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    width: 80vw;
    max-width: 1350px;
    margin: 2rem auto 0 auto;
}

.gallery-grid img {
    width: 60vw;
    max-width: 400px;
    margin-bottom: 2rem;
    transition: ALL 0.3s ease-in-out;
}



/* Medium screens (tablet) - 2 columns */
@media (min-width: 711px) and (max-width: 1199px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-grid img {
        width: 30vw;
    }
}

/* Large screens (desktop) - 3 columns */
@media (min-width: 1200px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-grid img {
        width: 25vw;
    }
}