@import './assets/fonts/fonts.scss';

:root {
  --grey100: #5A5C5E;
  --grey80: #7B7D80;
  --grey60: #ACAFB2;
  --grey40: #DDE1E5;
  --grey20: #F5FBFF;
  --red100: #A90F09;
  --red80: #A93733;
  --red60: #A95855;
  --red40: #A97876;
  --red20: #A99998;
}

*{
  user-select: none;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
::-webkit-scrollbar {
  display: none;
}

html, body{
height: 100%;
overflow-x: hidden;
overflow-y: auto;
scroll-behavior: smooth;
scrollbar-width: 0;
scrollbar-color: #ffffff00;
}
body{
  text-align: center;
  user-select: none;
  font-family: "ubuntu";
  font-style: normal;
  font-size: 1.13rem;
  color: black;
}
h1{
  text-align: center;
  user-select: none;
  font-family: "schwartz";;
  font-size: 2.63rem;
  color: black;
  text-transform: uppercase;
}
.mobile-h1
{
  font-size: 2rem;
}
h2{
  user-select: none;
  font-family: "worstveld";
  font-size: 4rem;
  color: var(--red100);
}
.mobile-h2
{
  font-size: 2.5rem;
}

h3{
  user-select: none;
  font-family: "worstveld";
  font-size: 2.81rem;
  color: var(--red100);
}
.mobile-h3
{
  font-size: 2rem;
}

h4, label{
  user-select: none;
  font-family: "worstveld";
  font-size: 2.5rem;
  color: var(--red100);
}
.mobile-h4
{
  font-size: 1.5rem;
}

a{
  text-decoration: none;
  user-select: none;
  font-family: "schwartz";
  font-size: 1.13rem;
  color: black;
}
.mobile-a
{
  font-size: 0.88rem;
}

section{
  position: relative;
  padding: 5.56vw 8.33vw;
}
.mobile-section{
  padding: 6.25vh 8.33vw;
}

nav{
  position: fixed;
  z-index: 100;
  width: 100vw;
  padding: 0px;
}

.h1-p{
  margin-bottom: 1.8rem;
}
.h1-h2{
  margin-bottom: .3rem;
}
.p-content{
  margin-bottom: 4rem;
}
.h3-p{
  margin-bottom: 1.25rem;
}

.nav-arrow-open{
  margin-left: 5px;
  width: 24px;
  height: 24px;
  background-image: url(./assets/interaction/arrow_up_24px_black.svg);
  background-position: center;
  background-size: 100%;
}

.nav-arrow-closed{
  margin-left: 5px;
  width: 24px;
  height: 24px;
  background-image: url(./assets/interaction/arrow_down_24px_red.svg);
  background-position: center;
  background-size: 100%;
}
.nav-arrow-closed:hover{
  background-image: url(./assets/interaction/arrow_down_24px_black.svg);
}
.nav-arrow-open:hover{
  background-image: url(./assets/interaction/arrow_up_24px_red.svg);
}

.nav-arrow-left{
  width: 24px;
  height: 24px;
  background-image: url(./assets/interaction/arrow_back_24px_red.svg);
  background-position: center;
  background-size: 100%;
}
.nav-arrow-left:hover{
  background-image: url(./assets/interaction/arrow_back_24px_black.svg);
}
.nav-arrow-right{
  width: 24px;
  height: 24px;
  background-image: url(./assets/interaction/arrow_forward_24px_red.svg);
  background-position: center;
  background-size: 100%;
}
.nav-arrow-right:hover{
  background-image: url(./assets/interaction/arrow_forward_24px_black.svg);
}
.nav-arrow-left-disabled{
  width: 24px;
  height: 24px;
  background-image: url(./assets/interaction/arrow_back_24px_lightgrey.svg);
  background-position: center;
  background-size: 100%;
}
.nav-arrow-right-disabled{
  width: 24px;
  height: 24px;
  background-image: url(./assets/interaction/arrow_forward_24px_lightgrey.svg);
  background-position: center;
  background-size: 100%;
}
.nav-close{
  width: 24px;
  height: 24px;
  background-image: url(./assets/interaction/close_24px_red.svg);
  background-position: center;
  background-size: 100%;
}
.nav-close:hover{
  width: 24px;
  height: 24px;
  background-image: url(./assets/interaction/close_24px_black.svg);
  background-position: center;
  background-size: 100%;
}

button{
  padding: 1rem;
  width: 11.625rem;
  height: 3.5rem;
  margin: 0 1.25rem;
  border-radius: 0.25rem;
  border: 0.12rem solid #ffffff00;
  font-family: "ubuntu-bolder";
  color: black;
  font-size: 1rem;
}
