@import './assets/fonts/fonts.scss';

:root {
  --grey100: #5A5C5E;
  --grey80: #7B7D80;
  --grey60: #ACAFB2;
  --grey40: #DDE1E5;
  --grey20: #F5FBFF;
  --red100: #A90F09;
  --red80: #A93733;
  --red60: #A95855;
  --red40: #A97876;
  --red20: #A99998;
}

*{
  user-select: none;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
::-webkit-scrollbar {
  display: none;
}

html, body{
height: 100%;
overflow-x: hidden;
overflow-y: auto;
scroll-behavior: smooth;
scrollbar-width: 0;
scrollbar-color: #ffffff00;
}
body{
  text-align: center;
  user-select: none;
  font-family: "ubuntu";
  font-style: normal;
  font-size: 1.13rem;
  line-height: 1.5rem;
  color: black;
}
h1{
  text-align: center;
  user-select: none;
  font-family: "schwartz";;
  font-size: 2.63rem;
  color: black;
  text-transform: uppercase;
  line-height: 2.63rem;
}
.mobile-h1
{
  font-size: 2rem;
  line-height: 2rem;
}
.browser-without-a h1{
  text-transform: none;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
h2{
  user-select: none;
  font-family: "worstveld";
  font-size: 4rem;
  color: var(--red100);
  line-height: 3.5rem;
}
.mobile-h2
{
  font-size: 2.5rem;
  line-height: 2rem;
}

h3{
  user-select: none;
  font-family: "worstveld";
  font-size: 2.81rem;
  color: var(--red100);
  line-height: 2.3rem;
}
.mobile-h3
{
  font-size: 2rem;
  line-height: 1.8rem;
}

h4, label{
  user-select: none;
  font-family: "worstveld";
  font-size: 2.5rem;
  color: var(--red100);
}
.mobile-h4
{
  font-size: 1.5rem;
  line-height: 1.1rem;
}

a{
  text-decoration: none;
  user-select: none;
  font-family: "schwartz";
  font-size: 1.13rem;
  color: black;
  line-height: 1.13rem;
}

.mobile-a
{
  font-size: 0.88rem;
  line-height: 0.88rem;
}

section{
  position: relative;
  padding: 5.56vw 8.33vw;
}
.mobile-section{
  padding: 6.25vh 8.33vw;
}

nav{
  position: fixed;
  z-index: 100;
  width: 100vw;
  padding: 0px;
}

button:hover{
  cursor: pointer;
}
.h1-p{
  margin-bottom: 1.8rem;
}
.h1-h2{
  margin-bottom: .3rem;
}
.p-content{
  margin-bottom: 4rem;
}
.h3-p{
  margin-bottom: 1.25rem;
}
.no-padding-y{
  padding-bottom: 0;
  padding-top: 0
}

.nav-arrow-open{
  margin-left: 5px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(./assets/interaction/arrow_up_24px_red.svg);
  background-position: center;
  background-size: 100%;
}

.nav-arrow-closed{
  margin-left: 5px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(./assets/interaction/arrow_down_24px_black.svg);
  background-position: center;
  background-size: 100%;
}
.nav-arrow-closed:hover{
  background-image: url(./assets/interaction/arrow_down_24px_black.svg);
}
.nav-arrow-open:hover{
  background-image: url(./assets/interaction/arrow_up_24px_red.svg);
}

.nav-arrow-left{
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(./assets/interaction/arrow_back_24px_red.svg);
  background-position: center;
  background-size: 100%;
}
.nav-arrow-left:hover{
  background-image: url(./assets/interaction/arrow_back_24px_black.svg);
}
.nav-arrow-right{
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(./assets/interaction/arrow_forward_24px_red.svg);
  background-position: center;
  background-size: 100%;
}
.nav-arrow-right:hover{
  background-image: url(./assets/interaction/arrow_forward_24px_black.svg);
}
.nav-arrow-left-disabled{
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(./assets/interaction/arrow_back_24px_lightgrey.svg);
  background-position: center;
  background-size: 100%;
}
.nav-arrow-right-disabled{
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(./assets/interaction/arrow_forward_24px_lightgrey.svg);
  background-position: center;
  background-size: 100%;
}
.nav-close{
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(./assets/interaction/close_24px_red.svg);
  background-position: center;
  background-size: 100%;
}
.nav-close:hover{
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-image: url(./assets/interaction/close_24px_black.svg);
  background-position: center;
  background-size: 100%;
}

li, a{
  cursor: pointer;
}
.article-fade {
  animation-name: article-fade;
  animation-duration: 1.5s;
}

@keyframes article-fade {
  from {
    opacity: 0;
    translate: 0 -100%;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.nav-ul-fade {
  animation-name: article-fade;
  animation-duration: 0.25s;
}

@keyframes article-fade {
  from {
    opacity: 0;
    translate: 0 -50%;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes a-fade {
  from {
    color: black;
  }
  to {
    color: var(--red100);
  }
}

.picture-frame-description-content
{
  margin: 1.39vw 8.33vw;
  padding: 2.5rem;
  background-color: #f5fbffe7;
  border: 1px solid var(--red100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-frame-description-content .nav-close
{
  align-self: flex-end;
}

.picture-frame-description-content h2, .picture-frame-description-content p
{
  margin-bottom: 2.5rem;
}
//Mobile Responsiveness
.mobile-picture-frames{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-picture-frames .frames-and-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-picture-frames .picture-frame-description-content
{
  display: block;
  position: relative;
  width: 83.34vw;
  padding: 0;
  margin: 0 0 6.25vh;
}
.mobile-picture-frames .dots
{
  position: absolute;
  left: 0;
  bottom: 1.88rem;
  height: 1rem;
}
.mobile-picture-frames .active
{
  animation-name: dot-fade-mobile;
  animation-duration: 1s;

}
.mobile-picture-frames .inactive
{
  animation-name: dot-fade-out-mobile;
  animation-duration: 1s;
  background-color: #a9585580;
}
.mobile-picture-frames .slider-wrapper
{
  margin: 0;
  width: 100%;
  height: auto;
}
.mobile-picture-frames .slide
{
  background-size: cover;
  width: 100%;
  height: 110.84vw;
}
.landscape
{
  height: 62.5vw;
}
.mobile-picture-frames .nav-close{
  position: absolute;
  right:0.88rem;
  bottom: 0.88rem;
}
.margin-x1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.hover-red:hover{
  color: var(--red100);
}
