<div class="hero-container" [ngClass]="{'mobile-hero-container':mobilePortrait}">
  <figure *ngIf="mobilePortrait" class="hero-image" [ngStyle]="{'background-image': 'url(' + hero.pictureUrl + ')'}">
  </figure>
  <figure *ngIf="!mobilePortrait"class="hero-image" [ngStyle]="{'background-image': 'url(' + hero.pictureUrlDesk + ')'}">
  </figure>
  <figure class="fader"></figure>
  <div class="hero-content">
    <article id="hero-article">
      <h1 class="h1-h2">{{ hero.title }}</h1>
      <h2 class="h1-p">{{ hero.subtitle }}</h2>
      <p>{{ hero.text }}</p>
    </article>
  </div>
</div>

