.hero-container
{
  position: relative;
  padding-top: 1vh;
  width: 100vw;
  height: 63vh;
}
.mobile-hero-container
{
  padding-top: 10vh;
  height: 48vh;
  margin-bottom: 6.25vh;

}
.mobile-hero-container h1
{
  font-size: 2rem;
  line-height: 2rem;
}
.mobile-hero-container h2
{
  font-size: 2.5rem;
  line-height: 2rem;
}
.mobile-hero-container p
{
  font-size: 0.88rem;
  line-height: 1.17rem;
}
.mobile-hero-container .h1-h2
{
  margin-bottom: 0.15rem;
}
.mobile-hero-container .h1-p
{
  margin-bottom: 0.9rem;
}
.hero-image
{
  width: 100vw;
  height: 50vh;
  background-image: url(../../../assets/backgrounds/heroes/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mobile-hero-container .hero-image
{
  height: 25vh;
}

.fader
{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), white);
  position: absolute;
  left: 0;
  top: 33vh;
  width: 100vw;
  height: 18vh;
}
.mobile-hero-container .fader
{
  height: 10vh;
  top: 25.1vh;
}

.hero-content
{
  padding: 0 8.33vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 58vh;
}

.mobile-hero-container .hero-content
{
  justify-content: flex-end;
  bottom: 0;
  height: 48vh;
}

article
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-hero-container article
{
  height: auto;
  margin-top: 30vh;
}
