<div class="hero-container">
  <figure id="hero-image">
  </figure>
  <figure class="fader" id="fader1"></figure>
  <div class="hero-content">
    <article id="hero-article">
      <h1 class="h1-h2">UNTERSEITE</h1>
      <h2 class="h1-p">Hilfe/Claim für die Unterseite</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
    </article>
  </div>
</div>

