<section id="footer-cta">
  <h1 class="h1-p">Kontaktiere mich</h1>
  <p class="p-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
  <div class="button-holder">
    <app-button [primary]="true" buttonTitle="Kontaktformular"></app-button>
    <app-button [primary]="false" [withContext]="true" buttonTitle="Kontakt"></app-button>
  </div>
</section>
<section id="footer-news" *ngIf="newsAvailable">
  <div class="news-holder">
    <figure [ngClass]="actualNews.index !=0 ? 'nav-arrow-left' : 'nav-arrow-left-disabled'"></figure>
    <article>
      <h2 class="h1-p">{{ actualNews.title }}</h2>
      <p> {{ actualNews.text }}</p>
    </article>
    <figure [ngClass]="actualNews.index != lastNews ? 'nav-arrow-right' : 'nav-arrow-right-disabled'"></figure>
  </div>
</section>
<section id="footer-credentials">
  <figure id="footer-bg-red"></figure>
  <figure id="footer-bg-redfade"></figure>
</section>
<section id="footer-qualification"></section>
